@import 'reset';
@import 'variables';

html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  //   overflow: hidden;
    -ms-touch-action: manipulation;
    touch-action: manipulation;

}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
   //  overflow: hidden;


}

html,
body {
    font-family: 'GT America';
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $color02;
    background-color: $color01;


}

main {
    /* overflow-y: scroll;
    overflow: hidden;
    height: 100vh;
    width: calc(100vw + 25px);*/
}

section {
    width: 100vw;
    display: flex;
    overflow: hidden;
}


.border {
    padding: 2vw;
    box-sizing: border-box;
}


dl {
    font-size: .7vw;

    dt {
        font-weight: bold;
        margin-bottom: .5vw;
    }

    dd {
        line-height: .85vw;
    }
}

.quote {
    text-align: center;

    blockquote {
        font-family: 'Canopee';
        font-size: 7vw;
    }

    figcaption {
        padding: 2vh 0;
        font-size: 1vw;
        font-weight: bold;

        cite {
            font-weight: normal;
        }
    }

}

.content {
    padding: 16vh 0;

}

.cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.half {
    width: 50vw;
    height: 100%;
}



h1 {}

h2 {
    font-family: 'Canopee';
    font-size: 13vw;
    line-height: 11vw;
}

h3 {
    font-size: 2.5vw;
    line-height: 3.2vw;
}

h4 {
    font-size: 1vw;
}

h5 {
    font-size: 1.4vw;
    margin-bottom: .5vw;
}

h6 {
    font-size: .7vw;
    margin-bottom: .5vw;
}

ul,
li,
a {
    color: inherit;
}

p {
    font-size: 1.4vw;
    line-height: 1.85vw;
}


b {
    font-weight: bold;
}

.hide {
    visibility: hidden;
    pointer-events: none;
}

.none {
    display: none !important;
}

.pointer {
    cursor: pointer;
}

.pointer-none {
    pointer-events: none;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    ul {
        font-size: 2.5vw;
        line-height: 3.2vw;
    }
}

.wait {
    cursor: wait !important;

    a {
        cursor: wait !important;
    }
}


.mobile {}

.tablet {}

.tablet,
.desktop {
    @media (orientation: portrait) {}
}

.rotate {}

.mobile {
    @media (orientation: landscape) {
        .rotate {}


    }
}