@import '../../../common/styles/_variables.scss';

#challenges {
    background-color: $color02;
    color: $color01;
    z-index: 7;
    height: 100vh;

    position: absolute;
    top: 0;

    .bg {
        background-color: $color01;
        height: 100%;
        top: 100%;
    }

    img {
        object-position: center;
    }


    .challenges-image {
        overflow: hidden;
        background-color: $color02;
    }

    p {
        display: flex;

        span {
            display: block;
            width: 1.1vw;
            margin-right: .3vw;
        }

        svg {
            width: 100%;
            height: auto;
        }
    }

    li {
        color: $color05;

        &.done-true {
            color: $color01;
            text-decoration: line-through;

        }
    }
}

.mobile {
    #challenges {
        display: block;
        padding: 7vw;
        box-sizing: border-box;
        height: auto;

        p span {
            width: 3.2vw;
        }

        .challenges-image {
            position: absolute;
            width: 46.5vh;
            right: 0;
            top: 13vh;
            height: 38vh;
        }

        .challenges-list {
            width: 100%;
            justify-content: flex-start;

            ul {
                padding-top: 50vh;
            }
        }
    }
}
