@import '../../../common/styles/_variables.scss';

#home {
    height: 100vh;
    .hero-introduction {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        dd {
            span {
                padding: 0 .3vw;
            }

            a.active {
                border-bottom: 1px solid;
            }
        }
    }

    .hero-image {
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .hero-logo {
        width: 19vh;

        svg {
            width: 100%;
            height: auto;
        }

    }

    .hero-image {
        background-color: $color03;
    }


}

#about {
    background-color: $color02;
    color: $color01;
    flex-direction: column;

    .about-introduction {

        padding-left: 55vw;
        padding-bottom: 18vh;


        p {

            width: 28vw;

            br {
                display: block;
                margin-bottom: 3vh;
                content: '';
            }
        }

    }

    .about-moments {
        width: 80vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        figure {
            display: flex;

            img {
                height: auto;
                width: 100%;
            }

            &.vertical {
                flex-direction: column;

                dl {
                    padding: 2vh 0;
                }
            }

            &.horizontal {
                flex-direction: row;

                dl {
                    padding: 0 2vh;
                }
            }



        }

    }
}


#interests {
    height: 100vh;

    .interests-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        

        ul {
            font-size: 2.8vw;
            line-height: 6.5vh;
        }
    }

}

#timeline {
    background-color: $color02;
    color:$color01;
}