@import '../../../common/styles/_variables.scss';

#home {

    height: 100vh;



    .hero-introduction,
    .hero-image {
        width: 50vw;
        height: 100%;
    }

    .hero-introduction {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        dd {
            span {
                padding: 0 .3vw;
            }

            a.active {
                border-bottom: 1px solid;
            }
        }
    }

    .hero-logo {
        width: 19vh;

        svg {
            width: 100%;
            height: auto;
        }

    }

    .hero-image {
        background-color: $color03;
    }


}

#about {
    background-color: $color02;
    color: $color01;
    flex-direction: column;

    .introduction {
        padding: 18vh 0;
        padding-left: 55vw;
        padding-bottom: 21vh;
        
   

        p {
            
            width: 28vw;

            br {
                display: block;
                margin-bottom: 3vh;
                content: '';
            }
        }

    }
}