@font-face {
    font-family: 'Canopee';
    src: url('Canopee-Regular.woff2') format('woff2'),
        url('Canopee-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America';
    src: url('GT-America-Standard-Regular.woff2') format('woff2'),
        url('GT-America-Standard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America';
    src: url('GT-America-Standard-Bold.woff2') format('woff2'),
        url('GT-America-Standard-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

