@import '../../../common/styles/_variables.scss';

#about {
    z-index: 3;
    background-color: $color02;
    color: $color01;
    flex-direction: column;
    width: 100%;
    height: auto;
    .bg {
        background-color: $color02;
    }

    .about-introduction {
        padding-left: 55vw;
        padding-bottom: 18vh;
        p {

            width: 28vw;

            br {
                display: block;
                margin-bottom: 3vh;
                content: '';
            }
        }
    }

    .about-moments {
        width: 80vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        figure {
            display: flex;

            img {
                height: 100%;
                width: 100%;
            }

            &.vertical {
                flex-direction: column;

                dl {
                    padding: 2vh 0;
                }
            }

            &.horizontal {
                flex-direction: row;

                dl {
                    padding: 0 2vh;
                }
            }
        }

    }
}

.mobile {
    #about {
        height: auto;

        .about-introduction {
            padding-left: 4vh;
            padding-bottom: 15vh;

            p {
                width: 90%;
            }

        }

        .about-moments {
            width: 100%;

            figure {
                &:nth-child(1) {
                    margin-left: 0 !important;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    img {
                        width: 100% !important;
                    }

                    dl {
                        padding-right: 15vw;
                    }
                }


                &:nth-child(2) {
                    margin-top: 10vh !important;
                    margin-left: 32vw !important;

                    img {
                        width: 47vw !important;
                    }
                }

                &:nth-child(3) {
                    margin-top: 10vh !important;
                    margin-left: 32vw !important;

                    img {
                        width: 68vw !important;
                    }
                }

                &:nth-child(4) {
                    margin-top: 10vh !important;
                    margin-left: 9vw !important;
                    flex-direction: column;

                    img {
                        width: 93vw !important;
                    }

                    dl {
                        padding: 2vh 0;
                    }
                }
            }
        }

    }
}